<div class="answerForm">
    <div class="row">
        <div class="col-md-2">
            <img src="{{ answer.user.img }}">
            <p></p>
            <button type="button" class="btn btn-default">-</button>
            <span>{{ answer.popularity }}</span>
            <button type="button" class="btn btn-default">+</button>
        </div>
        <div class="col-md-10">
            <div class="inForm">
                <p class="lead" style="padding-top: 20px">{{ answer.text }}</p>
                <form style="padding-bottom: 15px;">
                    <label>
                        <input type="checkbox"> Correct!
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>