<!DOCTYPE html>
<html>
<head>
    <title>AskDewil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/custom.css">
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Head -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">AskDewil</a>
            </div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" style="border-radius: 15px;">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <div class="navbar-btn navbar-left">
                <button type="submit" class="btn btn-default">ASK!</button>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
<!-- head end -->

<!-- page content -->
<div class="container">
    <div class="row">
        <div class="col-md-8">

<div class="questionForm">
                <div class="row">
                        <div class="col-md-2">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default" style="font-size: 10px">-</button>
                            5
                            <button type="button" class="btn btn-default" style="font-size: 10px">+</button>
                        </div>
                        <div class="col-md-10">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p class="lead">Guys, I have trouble with a moon park. Can't find the black-jack... Guys, I have trouble with a moon park. Can't find the black-jack... Guys, I have trouble with a moon park. Can't find the black-jack... Guys, I have trouble with a moon park. Can't find the black-jack...`</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>

            </div>
            <div class="questionForm">
            <div class="container">
                <div class="row">
                        <div class="col-md-1">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default">-</button>
                            <span style="font-family: Consolas">5</span>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="col-md-7">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p>Guys, I have trouble with a moon park. Can't find the black-jack...</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="questionForm">
            <div class="container">
                <div class="row">
                        <div class="col-md-1">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default">-</button>
                            <span style="font-family: Consolas">5</span>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="col-md-7">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p>Guys, I have trouble with a moon park. Can't find the black-jack...</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="questionForm">
            <div class="container">
                <div class="row">
                        <div class="col-md-1">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default">-</button>
                            <span style="font-family: Consolas">5</span>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="col-md-7">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p>Guys, I have trouble with a moon park. Can't find the black-jack...</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="questionForm">
            <div class="container">
                <div class="row">
                        <div class="col-md-1">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default">-</button>
                            <span style="font-family: Consolas">5</span>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="col-md-7">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p>Guys, I have trouble with a moon park. Can't find the black-jack...</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="questionForm">
            <div class="container">
                <div class="row">
                        <div class="col-md-1">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default">-</button>
                            <span style="font-family: Consolas">5</span>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="col-md-7">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p>Guys, I have trouble with a moon park. Can't find the black-jack...</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="questionForm">
            <div class="container">
                <div class="row">
                        <div class="col-md-1">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default">-</button>
                            <span style="font-family: Consolas">5</span>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="col-md-7">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p>Guys, I have trouble with a moon park. Can't find the black-jack...</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="questionForm">
            <div class="container">
                <div class="row">
                        <div class="col-md-1">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default">-</button>
                            <span style="font-family: Consolas">5</span>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="col-md-7">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p>Guys, I have trouble with a moon park. Can't find the black-jack...</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="questionForm">
            <div class="container">
                <div class="row">
                        <div class="col-md-1">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default">-</button>
                            <span style="font-family: Consolas">5</span>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="col-md-7">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p>Guys, I have trouble with a moon park. Can't find the black-jack...</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="questionForm">
            <div class="container">
                <div class="row">
                        <div class="col-md-1">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default">-</button>
                            <span style="font-family: Consolas">5</span>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="col-md-7">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p>Guys, I have trouble with a moon park. Can't find the black-jack...</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="questionForm">
            <div class="container">
                <div class="row">
                        <div class="col-md-1">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default">-</button>
                            <span style="font-family: Consolas">5</span>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="col-md-7">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p>Guys, I have trouble with a moon park. Can't find the black-jack...</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="questionForm">
            <div class="container">
                <div class="row">
                        <div class="col-md-1">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default">-</button>
                            <span style="font-family: Consolas">5</span>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="col-md-7">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p>Guys, I have trouble with a moon park. Can't find the black-jack...</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="questionForm">
            <div class="container">
                <div class="row">
                        <div class="col-md-1">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default">-</button>
                            <span style="font-family: Consolas">5</span>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="col-md-7">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p>Guys, I have trouble with a moon park. Can't find the black-jack...</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div><div class="questionForm">
            <div class="container">
                <div class="row">
                        <div class="col-md-1">
                            <img src="../static/logo200.jpg">
                            <p></p>
                            <button type="button" class="btn btn-default">-</button>
                            <span style="font-family: Consolas">5</span>
                            <button type="button" class="btn btn-default">+</button>
                        </div>
                        <div class="col-md-7">
                            <div class="inForm">
                                <h2><a href="#TODO">How to build a moon park?</a></h2>
                                <p>Guys, I have trouble with a moon park. Can't find the black-jack...</p>
                                <a href="#TODO"><u>answer (3)</u></a>
                                Tags:
                                <a href="#future" >black-jack</a>
                                <a href="#future">bender</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav>
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
        </div>

        <div class="col-md-4">
                <h1>Popular Tags</h1>

                <ul id="tag-cloud">
                    <li class="tag-cloud tag-cloud-warning">perl</li>

                    <li class="tag-cloud">Python</li>

                    <li class="tag-cloud tag-cloud-success">TechnoPark</li>

                    <li class="tag-cloud tag-cloud-danger">MySQL</li>

                    <li class="tag-cloud tag-cloud-info">django</li>

                    <li class="tag-cloud tag-cloud-inverse">Mail.Ru</li>
                </ul>

            <h1>Popular Members</h1>
                    <p><a class="members" href="#future">Mr. Freeman</a></p>

                    <p><a class="members">Dr. House</a></p>

                    <p><a class="members">Bender</a></p>

                    <p><a class="members">Queen Victoriya</a></p>

                    <p><a class="members">Django Unchained</a></p>

                    <p><a class="members">V. Pupkin</a></p>

        </div>
    </div>
</div>
<!-- page content end -->

<!-- footer -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">(c) 2015</p>
    </div>
</footer>
<!-- footer end -->
</body>
</html>-