{% extends "base.html" %}

{% block right %}
    <div class="row">
        {% if is_new %}
            <div class="col-md-5">
                <h1>New Questions</h1>
            </div>
            <div class="col-md-5">
                <h3><a href="{% url 'popular-question:popular' %}">Hot Questions</a></h3>
            </div>
        {% else %}
            <div class="col-md-5">
                <h3><a href="{% url 'new-question:index' %}">New Questions</a></h3>
            </div>
            <div class="col-md-5">
                <h1>Hot Questions</h1>
            </div>
        {% endif %}
        <div class="col-md-2">
        </div>
    </div>
    {% for question in questions %}
        {% include "question_form.html" %}
    {% endfor %}
    {% include "pagination.html" %}

{% endblock %}