{% extends 'base.html' %}
{% block right %}
    <div style="position: relative;">
        <h1>Registration:</h1>
        <form action="#TODO" method="POST">
            <fieldset>
                <div class="row">
                    <div class="col-sm-12 col-md-10 ">
                        <div class="form-group">
                            <label>Login:</label>
                            <div class="input-group"> <span class="input-group-addon"> <i class="glyphicon glyphicon-user"></i> </span>
                                <input class="form-control" placeholder="Username" name="loginname" type="text"
                                       autofocus style="width: 300px;" data-min-length="8"  maxlength="300"
                                       data-max-length="150">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <div class="input-group"> <span class="input-group-addon" id="basic-addon1">@</span>
                                <input class="form-control" placeholder="Email" name="email" type="text"
                                       autofocus style="width: 300px;" data-min-length="8"  maxlength="300"
                                       data-max-length="150">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>NickName :</label>
                            <div class="input-group"> <span class="input-group-addon"> <i class="glyphicon glyphicon-sunglasses"></i> </span>
                                <input class="form-control" placeholder="Your nickname" name="nickname" type="text"
                                       autofocus style="width: 300px;" data-min-length="8"  maxlength="300"
                                       data-max-length="150">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Password:</label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i> </span>
                                <input class="form-control" placeholder="Password" name="password" type="password" value=""
                                       style="width: 300px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Repeat password:</label>
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i> </span>
                                <input class="form-control" placeholder="Repeat password" name="repeat-password" type="password" value=""
                                       style="width: 300px;">
                            </div>
                        </div>

                        <label for="UploadAvatar">Upload avatar</label>
                        <br>
                        <img id="UploadAvatar" src="{{ user.img }}" style="width: 20%;">
                        <br>
                        <input type="file" name="pic" width="80px"/>
                        <br>
                        <div>
                            <button type="button" class="btn btn-success btn-md">Save</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}